a.slide-btn {
    margin: 0px 5px;
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #333;
    background-color: #333;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
    border-radius: 5px;
}

a.slide-btn:hover {
    background: transparent;
    color: Red;
    border: 1px solid red;
    -webkit-transition: .3s;
    transition: .3s;
}

a.slide-btn.other-btn {
    background: transparent;
}

a.slide-btn.other-btn:hover {
    background: Red;
}