// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

body{
    background-color: #1E1E1E;
    font-family: 'Tajawal', sans-serif;
}

.card{
    background-color: #161616;
    padding: 10px;
    border-radius: 15px;
    height: max-content;
    width: 350px;
    box-shadow: 0px 0px 2px black;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
::-webkit-scrollbar-track {
    background: #1a1a1a;
}
  
::-webkit-scrollbar-thumb {
    background: #43b4c065;
    transition: 0.2s;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #3c96a0;
}